<ion-header>
  <ion-navbar color='primary'>
    <ion-title style="text-align: center;">Actividades</ion-title>
  </ion-navbar>
</ion-header>
<ion-content fullscreen>
  <ion-grid *ngIf="_usu.activo()">
      <ion-row *ngFor="let pares of _alum.actividades">
        <ion-card [navParams]="{enviar: pares}" [navPush]="leccionEtapaPage" padding>
          <img src="{{pares.foto}}"><br>
          <div class="card-title" style="text-align: center"><b>{{pares.nombre}}</b></div>
        </ion-card>
      </ion-row>
  </ion-grid>
  <ion-grid *ngIf="_usu.activo() === false">
   <img src="https://somosmusica.pe/assets/registro.jpg">
  </ion-grid>
</ion-content>
