<ion-header>
  <ion-navbar color='primary'>
    <ion-title style="text-align: center;">Actividades</ion-title>
  </ion-navbar>
</ion-header>
<ion-content animated fadeIn fullscreen>
  <ion-grid *ngIf="_usu.activo()">
      <ion-row *ngFor="let pares of _alum.actividades">
        <ion-card [navParams]="{enviar: pares}" [navPush]="leccionEtapaPage">
          <!--<img [src]="pares.imagen | imagen">-->
          <div class="card-title" style="text-align: center"><b>{{pares.nombre}}</b></div>
          <div class="card-subtitle">{{pares.descripcion}}</div>
        </ion-card>
      </ion-row>
  </ion-grid>
  <ion-grid *ngIf="_usu.activo() === false">
    <p>Realizar Login</p>
  </ion-grid>
</ion-content>
