<ion-content padding class="animated fadeIn login auth-page">
	<div class="login-content">
		<div padding-horizontal text-center class="animated fadeInDown">
	      <div class="logo"></div>
	      <h2 ion-text class="text-primary">
	        <strong>Cambiar Contraseña</strong>
	      </h2>
	    </div>
	    <div class="list-form" *ngIf="email === true">
		      <ion-item>
		        <ion-label floating>
		          <ion-icon name="mail" item-start class="text-primary"></ion-icon>
		          Email
		        </ion-label>
		        <ion-input type="email" [(ngModel)]="correo"></ion-input>
		      </ion-item>
		       <button ion-button icon-start block color="dark" tappable [disabled]=" correo.length < 5" (click)="agregar_email(correo)">
		        <ion-icon name="log-in"></ion-icon>
		        Ingresar
		      </button>
		</div>
	    <div class="list-form" *ngIf="codigo === true">
		      <ion-item>
		        <ion-label floating>
		          <ion-icon name="mail" item-start class="text-primary"></ion-icon>
		          Código
		        </ion-label>
		        <ion-input type="text" [(ngModel)]="cod"></ion-input>
		      </ion-item>
		       <button ion-button icon-start block color="dark" tappable [disabled]=" cod.length < 5" (click)="agregar_codigo(cod)">
		        <ion-icon name="log-in"></ion-icon>
		        Ingresar Codigo
		      </button>
		</div>
		<div class="list-form" *ngIf="password === true">
		      <ion-item>
		        <ion-label floating>
		          <ion-icon name="mail" item-start class="text-primary"></ion-icon>
		          Actualizar Contraseña
		        </ion-label>
		        <ion-input type="text" [(ngModel)]="contr"></ion-input>
		      </ion-item>
		       <button ion-button icon-start block color="dark" tappable [disabled]=" contr.length < 5" (click)="actualizar_password(correo,contr)">
		        <ion-icon name="log-in"></ion-icon>
		        Actualizar Password
		      </button>
		</div>
	</div>
</ion-content>
