<ion-header>
  <ion-navbar>
    <ion-title>{{etapa.titulo}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content >
  <ion-toolbar>
    <ion-segment [(ngModel)]="lec">
      <ion-segment-button value="inicio">
        Inicio
      </ion-segment-button>
      <ion-segment-button value="lecciones">
         Lecciones
      </ion-segment-button>
      <ion-segment-button value="formularios">
        Formularios
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
<div [ngSwitch]="lec" padding>
  <ion-list *ngSwitchCase="'inicio'">
    <h4 style="text-align: center">{{etapa.titulo}}</h4>
	<div [innerHTML]="etapa.descripcion"></div>
  </ion-list>
  <ion-list *ngSwitchCase="'lecciones'">
    <ion-item *ngFor="let item of leccion" [navParams]="{curso: etapa_curso.url_curso, id: etapa.url_etapa_curso, url: item.url}" 
    [navPush]="listadoCursoIdUrlLeccionPage">
      {{item.nombre}}
    </ion-item>
  </ion-list>

  <ion-list *ngSwitchCase="'formularios'">
    <ion-item *ngFor="let formu of formularios" 
    [navParams]="{curso: etapa_curso.url_curso, id: etapa.url_etapa_curso, url: formu.url_formulario, token: token}" 
    [navPush]="formularioPage">
        {{formu.nombre_formulario}}
    </ion-item>
  </ion-list>
</div>
</ion-content>