<ion-header>
  <ion-navbar>
    <ion-title style="text-align: center;">
      Bienvenidos
    </ion-title> 
    <ion-buttons right>
    	<div *ngIf="role === 'TEACHER'">
    		<button ion-button icon-only  [navPush]="alumnosPage">
			<ion-icon name="easel"></ion-icon>
		</button>
    	</div>
		
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content fullscreen class="card-background-page">
  	<ion-grid *ngIf="_usu.activo()">
	  	<ion-row *ngFor="let pares of cursos">
		    <ion-card [navParams]="{curso: pares.url_curso}" [navPush]="cursoPage">
		    	<img [src]="pares.imagen | imagen">
			    <div class="card-title">{{pares.nombre_curso}}</div>
			    <div class="card-subtitle">{{pares.des}}</div>
			  </ion-card>
	  	</ion-row>
	</ion-grid>
	<p *ngIf="_usu.activo() === false">Realizar Login</p>

</ion-content>
