<ion-header>
  <ion-navbar>
    <ion-buttons left>
		<button ion-button icon-only *ngIf="_usu.activo()" (click)="_usu.cerrar_sesion()">
			<ion-icon color="danger" name="log-out"></ion-icon>
		</button>
    </ion-buttons>
    <ion-title style="text-align: center;">
      Bienvenidos
    </ion-title> 
    <ion-buttons right>
		<button ion-button icon-only *ngIf="_usu.activo()">
			<ion-icon color="danger" name="contact"></ion-icon>
		</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  	<ion-grid *ngIf="_usu.activo()">
	  	<ion-row *ngFor="let pares of cursos">
		    <ion-col *ngFor="let item of pares" 
		    [navParams]="{curso: item.url_curso}" [navPush]="cursoPage">
		    	<img [src]="item.imagen | imagen">
		    	<p>
		    		{{item.nombre_curso}}
		    	<br>
		    		{{item.des}}
		    	<br>
		    		{{item.tag}}
		    	</p>
		    </ion-col>
	  	</ion-row>
	</ion-grid>
	<p *ngIf="_usu.activo() === false">Realizar Login</p>
</ion-content>
