li{
  list-style:none
}
.quitar{
      -webkit-padding-start: 0px !important;

}
.quitar2{
      -webkit-padding-start: 10px !important;

}
.quitar3{
      -webkit-padding-start: 20px !important;

}
code {
    padding: .2rem .4rem;
    font-size: 90%;
    color: #ffffff;
    background-color: #385171;
    border-radius: 2px;
    width:50%;
}

