<ion-header>

  <ion-navbar>
    <ion-title>Bienvenidos</ion-title>
  </ion-navbar>

</ion-header>
<ion-content>
	<div *ngIf="_usu.activo() === false">
		<ion-toolbar>
		    <ion-segment [(ngModel)]="pet">
		      	<ion-segment-button value="login">
		        	Login
		      	</ion-segment-button>
		      	<ion-segment-button value="registro">
		         	Registro
		      	</ion-segment-button>
	    	</ion-segment>
	  	</ion-toolbar>	
		<div [ngSwitch]="pet" padding>
		  <ion-list *ngSwitchCase="'login'">
		  	<h3 style="text-align: center">Login</h3>
			  <ion-item>
			    <ion-label fixed>Correo</ion-label>
			    <ion-input type="email" [(ngModel)]="correo"></ion-input>
			  </ion-item>

			  <ion-item>
			    <ion-label fixed>Contraseña</ion-label>
			    <ion-input type="password" [(ngModel)]="password"></ion-input>
			  </ion-item>
			  <button ion-button block [disabled]=" correo.length < 5 || password.length < 5" (click)="ingresar()">
			  		Ingresar
			  </button>
		  </ion-list>
		  <ion-list *ngSwitchCase="'registro'">
		  	<h3 style="text-align: center">Registro</h3>
			  <ion-item>
			    <ion-label fixed>Username</ion-label>
			    <ion-input type="text" value=""></ion-input>
			  </ion-item>

			  <ion-item>
			    <ion-label fixed>Password</ion-label>
			    <ion-input type="password"></ion-input>
			  </ion-item>

		  </ion-list>
		</div>  
	</div>
	<div *ngIf="_usu.activo() === true">
		<p>Esta logueado</p>
	</div>	
</ion-content>
