<!-- -->
<ion-content padding class="animated fadeIn login auth-page">
  <div class="login-content" *ngIf="_usu.activo() === false">

    <!-- Logo -->
    <div padding-horizontal text-center class="animated fadeInDown">
      <div class="logo"></div>
      <h2 ion-text class="text-primary">
        <strong>Iglesia de Dios</strong> de la Profecia
      </h2>
    </div>

    <!-- Login form -->
    <div class="list-form">
      <ion-item>
        <ion-label floating>
          <ion-icon name="mail" item-start class="text-primary"></ion-icon>
          Email
        </ion-label>
        <ion-input type="email" [(ngModel)]="correo"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="lock" item-start class="text-primary"></ion-icon>
          Password
        </ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
    </div>
    <div>
      <button ion-button icon-start block color="dark" tappable [disabled]=" correo.length < 5 || password.length < 5" (click)="ingresar()">
        <ion-icon name="log-in"></ion-icon>
        INGRESAR
      </button>

    </div>
    <div text-center margin-top>
      <span ion-text color="secondary" tappable (click)="register()">No tienes una cuenta? <strong>Registrarse</strong></span>
    </div>
  </div>
  <div *ngIf="_usu.activo() === true">
    <p>Esta logueado</p>
  </div>
</ion-content>
